language: android
dist: trusty

android:
  components:
    # use the latest revision of Android SDK Tools
    - tools
    - platform-tools

    # The BuildTools version used by your project
    - build-tools-30.0.3

    # The SDK version used to compile your project
    - android-30

    # Additional components
    # - extra-google-google_play_services
    # - extra-google-m2repository
    # - extra-android-m2repository

    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
    - sys-img-x86-android-26
    - sys-img-armeabi-v7a-android-17

before_install:
  - yes | sdkmanager "platforms;android-30"
  - yes | sdkmanager "build-tools;30.0.3"

before_script:
# - cp $TRAVIS_BUILD_DIR/aderan.jks $HOME/keystore

script:
  - "./gradlew clean assembleRelease --stacktrace"

before_deploy:
# - cp app/build/outputs/apk/release/app-release.apk ProjectPractice.apk

deploy:
  provider: releases
  api_key: $GITHUB_TOKEN
  file: app/build/outputs/apk/release/app-release.apk
  overwrite: true
  cleanup: true
  on:
    repo: aderan/project-practice
    all_branches: true
    tags: true

