language: android
dist: trusty

android:
  components:
    # use the latest revision of Android SDK Tools
    - tools
    - platform-tools

    # The BuildTools version used by your project
    - build-tools-30.0.3

    # The SDK version used to compile your project
    - android-30

    # Additional components
    # - extra-google-google_play_services
    # - extra-google-m2repository
    # - extra-android-m2repository

    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
    - sys-img-x86-android-26
    - sys-img-armeabi-v7a-android-17

before_script:
  - cp $TRAVIS_BUILD_DIR/aderan.jks $HOME/keystore

script:
  - "./gradlew clean assembleRelease --stacktrace"

before_deploy:
  - cd app/build/outputs/apk/release/app-release.apk ProjectPractice.apk

deploy:
  provider: releases

  file: ProjectPractice.apk

  skip_cleanup: true

  on:
    repo: aderan/project-practice
    tags: true
    jdk: oraclejdk8



